node_modules/
.next/trace
.next/static/webpack/webpack.9475a1bfff9aa6de.hot-update.js
.next/static/webpack/pages/index.9475a1bfff9aa6de.hot-update.js
.next/static/webpack/9475a1bfff9aa6de.webpack.hot-update.json
.next/static/webpack/633457081244afec._.hot-update.json
.next/static/development/_ssgManifest.js
.next/static/development/_buildManifest.js
.next/static/chunks/webpack.js
.next/static/chunks/react-refresh.js
.next/static/chunks/polyfills.js
.next/static/chunks/pages/index.js
.next/static/chunks/pages/_error.js
.next/static/chunks/pages/_app.js
.next/static/chunks/main.js
.next/server/webpack-runtime.js
.next/server/webpack-api-runtime.js
.next/server/vendor-chunks/recharts.js
.next/server/vendor-chunks/next.js
.next/server/vendor-chunks/@swc.js
.next/server/pages/index.js
.next/server/pages/api/stockdata.js
.next/server/pages/_error.js
.next/server/pages/_document.js
.next/server/pages/_app.js
.next/server/pages-manifest.json
.next/server/next-font-manifest.json
.next/server/next-font-manifest.js
.next/server/middleware-react-loadable-manifest.js
.next/server/middleware-manifest.json
.next/server/middleware-build-manifest.js
.next/react-loadable-manifest.json
.next/package.json
.next/cache/webpack/server-development/index.pack.gz
.next/cache/webpack/server-development/0.pack.gz
.next/cache/webpack/client-development/index.pack.gz.old
.next/cache/webpack/client-development/index.pack.gz
.next/cache/webpack/client-development/1.pack.gz
.next/cache/webpack/client-development/0.pack.gz
.next/build-manifest.json
next-env.d.ts
