node_modules/
.next/
./DS_Store
.next/trace
.next/static/webpack/webpack.9475a1bfff9aa6de.hot-update.js
.next/static/webpack/pages/index.9475a1bfff9aa6de.hot-update.js
.next/static/webpack/9475a1bfff9aa6de.webpack.hot-update.json
.next/static/webpack/633457081244afec._.hot-update.json
.next/static/development/_ssgManifest.js
.next/static/development/_buildManifest.js
.next/static/chunks/webpack.js
.next/static/chunks/react-refresh.js
.next/static/chunks/polyfills.js
.next/static/chunks/pages/index.js
.next/static/chunks/pages/_error.js
.next/static/chunks/pages/_app.js
.next/static/chunks/main.js
.next/server/webpack-runtime.js
.next/server/webpack-api-runtime.js
.next/server/vendor-chunks/recharts.js
.next/server/vendor-chunks/next.js
.next/server/vendor-chunks/@swc.js
.next/server/pages/index.js
.next/server/pages/api/stockdata.js
.next/server/pages/_error.js
.next/server/pages/_document.js
.next/server/pages/_app.js
.next/server/pages-manifest.json
.next/server/next-font-manifest.json
.next/server/next-font-manifest.js
.next/server/middleware-react-loadable-manifest.js
.next/server/middleware-manifest.json
.next/server/middleware-build-manifest.js
.next/react-loadable-manifest.json
.next/package.json
.next/cache/webpack/server-development/index.pack.gz
.next/cache/webpack/server-development/0.pack.gz
.next/cache/webpack/client-development/index.pack.gz.old
.next/cache/webpack/client-development/index.pack.gz
.next/cache/webpack/client-development/1.pack.gz
.next/cache/webpack/client-development/0.pack.gz
.next/build-manifest.json
next-env.d.ts
.next/cache/webpack/server-development/1.pack.gz
.next/cache/webpack/server-development/index.pack.gz.old
.next/server/_error.js
.next/static/chunks/_error.js
.next/static/webpack/c5e58542ee1ebc09.webpack.hot-update.json
.next/static/webpack/ffa281fb87562c25.webpack.hot-update.json
.next/static/webpack/pages/index.c5e58542ee1ebc09.hot-update.js
.next/static/webpack/webpack.c5e58542ee1ebc09.hot-update.js
.next/static/webpack/webpack.ffa281fb87562c25.hot-update.js
.next/static/webpack/webpack.c52d85c0ac48535f.hot-update.js
.next/static/webpack/webpack.8e0259de3d0e6a5d.hot-update.js
.next/static/webpack/webpack.63b23af7bb363966.hot-update.js
.next/static/webpack/pages/index.c52d85c0ac48535f.hot-update.js
.next/static/webpack/pages/index.8e0259de3d0e6a5d.hot-update.js
.next/static/webpack/pages/index.63b23af7bb363966.hot-update.js
.next/static/webpack/c52d85c0ac48535f.webpack.hot-update.json
.next/static/webpack/8e0259de3d0e6a5d.webpack.hot-update.json
.next/static/webpack/63b23af7bb363966.webpack.hot-update.json
.next/cache/webpack/server-development/6.pack.gz
.next/cache/webpack/server-development/5.pack.gz
.next/cache/webpack/server-development/4.pack.gz
.next/cache/webpack/server-development/3.pack.gz
.next/cache/webpack/server-development/2.pack.gz
.next/cache/webpack/client-development/4.pack.gz
.next/cache/webpack/client-development/3.pack.gz
.next/cache/webpack/client-development/2.pack.gz
.next/cache/webpack/client-development-fallback/index.pack.gz.old
.next/cache/webpack/client-development-fallback/0.pack.gz
